@model IEnumerable<CMMS.Models.LabModel>
@using CMMS.Models

@{
    ViewBag.Title = "View";
    Layout = "~/Views/shared/LayoutPage.cshtml";

    User _user = new User();
    IList<UserModel> users = _user.getAllData();
}

<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("KepalaMaintenance", "Dashboard")">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("LabView", "Lab")">Sparepart</a></li>
        <li class="breadcrumb-item active" aria-current="page">View</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Data Lab</h6>
                <a href="@Url.Action("Create", "Lab")" class="btn btn-info text-light" style="width:140px;height:35px;"><i class="fa fa-plus"></i> Add Lab</a>
                <div class="table-responsive my-3">
                    <table id="dataTableExample" class="table table-sm ">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th scope="col" class="text-left" style="width:35px;">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">UPT</th>
                                <th scope="col">PIC</th>
                                <th scope="col" style="width: 100px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                i++;
                            <tr>
                                <th scope="row">@i</th>
                                <td>@item.name</td>
                                <td>@item.uptname</td>
                                @foreach (var item2 in users)
                                {
                                    if (item.pic == item2.nik)
                                    {
                                        <td>@item2.name</td>
                                    }
                                }
                                <td>
                                    <a href="@Url.Action("Detail", "Lab", new { id = item.id })" class="btn btn-secondary" style="width:50px;height:35px;" data-toggle="tooltip" data-placement="top" title="Detail Data">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                    <a href="@Url.Action("Update", "Lab", new { id = item.id })" class="btn btn-success" style="width:50px;height:35px;" data-toggle="tooltip" data-placement="top" title="Edit Data">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "Lab", new { id = item.id })" class="btn btn-danger" style="width:50px;height:35px;" data-toggle="tooltip" data-placement="top" title="Delete Data">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>